.container {
    margin: auto;
}
.selectform{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.booklisting{
    margin: auto;
    width: 90%;
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.viewButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 12;
}

.form{
    width: 500px
}

.check{
    background-color: aqua;
}